group = "jdwescaledrone"
env = "dev"
region = "eu-west-1"

vpc_cidr = "11.0.0.0/16"
public_subnet_cidr_a = "11.0.10.0/24"
public_subnet_cidr_b = "11.0.20.0/24"

ingress_cidr = "0.0.0.0/0"

drone = {
  username = "jdxlabs"
  host = "drone.jdwescaledrone-dev-eu-west-1.jdxlabs.com"
  github_id = "xxx"
  github_secret = "xxx"
}
